*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 1rem;
    height: 20rem;
    font-size: 40%;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #444;
}


section{
    font-family: 'lexend',sans-serif;
    color: #363062;
}
h1{
    font-family: 'lexend',sans-serif;
    color: #363062;
    font-size: 2.5rem;
}

h2{
    font-family: 'lexend',sans-serif;
    color: #363062;
    font-size: 1.8rem;
    align-items: center;
    display: flex;
    justify-content: center; 
    padding-top: 80px;
}

                /* logo code  */

#logo {
    position: fixed;
    top: 0%;;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: #363062;
    z-index: 1000; 
    padding-top: 10px;
}

#logo img {
    width: 250px;
    cursor: pointer;
}

                /* navigation bar code  */

.navigation {
    position: fixed;
    top: 75px; 
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000; 
}

.navigation ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

.navigation ul li {
    margin-left: 30px;
}

.navigation ul li a {
    text-decoration: none;
    color: #444;
    font-size: 14px;
    font-weight: 500;
    text-shadow: hsl(247, 34%, 29%);
    font-family: 'lexend', sans-serif;
}

.navigation .nav-list li a.nav.active {
    color: #bba460;
}

.navigation .nav-list li:hover a.nav {
    color: #bba460;
}


.navigation .menu-btn{
	min-width: 30px;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer;
	display: none;
}
.navigation .menu-btn span{
	position: relative;
	display: block;
	width: 100%;
	height: 2px;
	background-color: #444;
	border-radius: 5px;
	transition: all 0.4s;
}
.navigation .menu-btn span::before,
.navigation .menu-btn span::after{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #444;
	transition: all 0.4s;
}
.navigation .menu-btn span::before{
	transform: translateY(-9px);
}
.navigation .menu-btn span::after{
	transform: translateY(9px);
}

                /*dropdown element*/

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    width: 80px;
    margin-top: 1px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 6;
}


.dropdown-content a {
    color: #444;
    background-color: white;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    color: #BBA460;
}


.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content:hover {
    display: block;
}

.dropdown_arrow{
    font-size: 12px;
    color: #BBA460;
}

                /* Responsive  dropdown */

@media (max-width: 968px) {
    .dropdown {
        display: block;
        width: 100%;
    }

    .dropdown-content {
        position: static;
        width: 100%;
        box-shadow: none;
    }

    .dropdown-content a {
        text-align: center;
        padding: 15px;
    }
}

                /* responsive navigation */

@media(max-width: 968px){
.navigation .menu-btn{
		display: flex;
		margin-left: 10px;
		z-index: 101;
}
.navigation .menu-btn.active span,
.navigation .menu-btn.active span::before,
.navigation .menu-btn.active span::after{
		width: 100%;
}
.navigation .menu-btn.active span::before{
		transform: rotate(45deg) translateY(0px);
}
.navigation .menu-btn.active span::after{
		transform: rotate(-45deg) translateY(0px);
}
.navigation .menu-btn.active span{
		background-color: transparent;
}
.navigation .nav-list{
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 0;
		right: -100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: white;
		transition: right 0.3s cubic-bezier(.15, .61, .94, .25);
		z-index: 100;
}
.navigation .nav-list.active{
		right: 0;
}
.navigation .nav-list li{
		margin: 25px 0px 0px;
}
.navigation .nav-list li:nth-child(1){
		margin-top: 140px;
}
.navigation .nav-list li a{
		font-size: 20px;
		letter-spacing: 1px;
}

}


                /* features code  */

#features {
    padding: 15vw 8vw 0 8vw;
    text-align: center;
    margin-bottom: 60px;
}

#features .fea-box {
    background-color:  #363062;
    text-align: center;
    border: .1rem solid #363062;
    border-radius: 10px; 
    padding: 2.5rem;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#features .fea-box:hover {
    background-color: #e5e5e5;
    border: .1rem solid #363062;
    border-radius: 10px; 
}

#features .fea-box i {
    font-size: 2.3rem;
    color: #BBA460;
    margin: 0 auto 1rem;
}

#features .fea-box:hover i {
    color: #BBA460; 
}

#features .fea-box h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #e5e5e5;
    padding: 13px 0 7px 0;
}

#features .fea-box:hover h3 {
    color: #363062; 
}

#features .fea-base {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
    padding-bottom: 60px;
}

#features p{
    color: #444;
}

/* actualite style code */

#actualite {
    padding: 20vh 8vh 0 8vh;
    text-align: center;
}

#actualite .actualite-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1.5rem;
    margin-top: 50px;
}

#actualite .actualite {
    text-align: start; /* Assuming you want the text aligned to the start inside each .actualite div */
    background-color: white; /* This applies to the background of each .actualite div */
}

#actualite .actualite img {
    width: 100%;
    height: auto; /* Use 'auto' to maintain aspect ratio */
    max-height: 100%; /* Adjust max-height as needed */
    object-fit: cover; /* Ensures the image covers the entire container */
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

#actualite .actualite img:hover {
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
}

#actualite h2 {
    font-size: 2rem;
}

/* Show only the first 3 .actualite elements initially */
.actualite-box .actualite {
    display: none;
}

.actualite-box .actualite:nth-child(-n+3) {
    display: block;
}

               /*button code */

.button-1 {
                background-color: #363062;
                border-radius: 8px;
                border-style: none;
                box-sizing: border-box;
                color: #FFFFFF;
                cursor: pointer;
                display: inline-block;
                font-size: 14px;
                font-weight: 500;
                height: 40px;
                line-height: 20px;
                list-style: none;
                margin: 0;
                outline: none;
                padding: 10px 16px;
                position: relative;
                text-align: center;
                text-decoration: none;
                transition: color 100ms;
                vertical-align: baseline;
                user-select: none;
                -webkit-user-select: none;
                touch-action: manipulation;
                margin-bottom: 20px;
                margin-top: -100px;
}

.button-1:hover,
.button-1:focus {
                background-color: #363062e0;
}

                /* hr code */

hr {
    height: 5px;
    border: none;
    position: relative;
    background: #363062;
}

hr::before {
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 100px solid #BBA460;
    border-bottom: 10px solid transparent;
    transform: rotate(-45deg);
}

hr::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 100px solid #BBA460;
    border-bottom: 10px solid transparent;
    transform: rotate(45deg);
}

                /*  Témoignages d'anciens étudiants code  */

.heading{
    padding-bottom: 50px;
}

.review .slide {
    padding: 1.5rem;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    border: 0.2rem solid #444;
    border-radius: 2rem;
    position: relative;
    min-height: 300px;
    max-height: 300px;
    min-width: 500px;
    margin-bottom: 400px;

}

.review .slide p {
    font-size: 0.9rem;
    text-align: center;
    padding-bottom: 0.5rem;
    line-height: 1.4;
    color: #444;
}

.user .promotion{
    font-size: 0.6rem;
    font-family: serif;
    color: #BBA460;
    position: absolute;
    bottom: 5rem;
    left: 10rem;
}

.user .user-info{
    position: absolute;
    bottom: 6rem;
    right: 10rem;
    font-size: 1rem;
    color: #363062;
}

.user .user-info-fe{
    position: absolute;
    bottom: 6rem;
    right: 9rem;
    font-size: 1rem;
    color: #363062;
}

.review .slide .fa-quote-right {
    position: absolute;
    bottom: 3rem;
    right: 3rem;
    font-size: 5rem;
    color: #bba460ae;
}

                /*  footer  code  */

section.footer{
	width: 100%;
    margin-top: -120px;
	padding: 60px 8% 5px;
	background-color: #363062;
}
.footer .footer-contents{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 50px;
}
.footer-contents .footer-col{
	flex-basis: calc(calc(100% / 4) - 20px);
}
.footer-contents .footer-col .col-title{
	min-height: 60px;
	display: flex;
	align-items: flex-end;
	margin-bottom: 20px;
}
.footer-col .col-title h3{
	font-size: 26px;
	color: whitesmoke;
}
.footer-col .col-contents{
	display: flex;
	flex-direction: column;
}

.footer-col .col-contents .contact-row span i{
    color: #e5e5e574;
}

.footer-col-1 .col-contents p{
	color: #e5e5e574;
	font-size: 15px;
	line-height: 1.3;
	margin-bottom: 15px;
}
.footer-col-2 .col-contents .contact-row{
	margin-bottom: 5px;
	display: flex;
	flex-direction: column;
}

.footer-col-2 .col-contents .contact-row span a{
    color: white;
}
.footer-col-2 .col-contents .contact-row span:nth-child(1){
	color: #e5e5e574;
	font-size: 15px;
	font-weight: 300;
	margin-bottom: 2px;
}
.footer-col-3 .col-contents a{
	text-decoration: none;
	color:#e5e5e574;
	margin-bottom: 20px;
	align-self: flex-start;
	transition: all 0.3s;
}
.footer-col-3 .col-contents a:hover{
	letter-spacing: 2px;
    color: white;
}

.footer .copy-rights{
    position: relative;
	top: 30px;
	padding: 30px 260px 0px;
	border-top: 1px solid white;
	text-align: center;
}
.footer .copy-rights p{
	color: white;
}
.footer .copy-rights p b{
	color: #BBA460;
}


@media screen and (max-width: 480px) {
    .footer .footer-contents{
        flex-direction: column;
    }
    .footer-contents .footer-col{
        flex-basis: 100%;
        margin-bottom: 20px;
    }
    .footer .copy-rights{
        padding: 30px 15px 0px;
    }
}

                /*a propos style*/

#about-container{
    display: flex;
    align-items: flex-start; 
}



.about-img img{
    width: 650px; 
    height: auto; 
    margin-top: -30px;
    padding-left: 30px;
}

#about-container .about-text{
    flex: 1; 
    max-width: calc(60% - 200px); 
    margin-top: 150px;
    letter-spacing: 0.5px;
}

.about-text h2 {
    text-align: center;
}

.about-text p {
    color: #444;
    font-size: 16px;
    line-height: 1.75rem;
}


                /* FAQ CSS*/

.main {
    max-width: 1900px;
    margin: 0 auto;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    margin-top: -220px;
    border-radius: 5px;
    margin-bottom: 150px;
    font-family: 'lexend',sans-serif;
    font-size: 15px;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #363062;
    text-align: center;
    margin-bottom: 60px;
    font-size: 1.8rem;
}

.questions-container {
    overflow: hidden;
}

.question-container {
    border-radius: 5px;
    border-bottom: 1px solid rgb(180, 180, 180);
    margin: 5px;
}

.question {
    background-color: rgb(245, 245, 245);
    color: #363062;
    padding: 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.answer {
    padding: 10px;
    display: none;
    padding-left: 5px;
    color: #444;
}

.question p {
    font-size: 17px;
}

.question span{
    color: #444;
}

.question-button {
    background: none;
    border: none;
    cursor: pointer;
}

.show-answer {
    display: none;
}

.hide-answer {
    display: inline-block;
}

.active .show-answer {
    display: inline-block;
}

.active .hide-answer {
    display: none;
}

.active .answer {
    display: block;
}


 /* Contact nous style */

 #contact {
    width: 715px;
    height: 530px;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
    border: 2px solid #363062;
    margin-top: 90px;
    margin: 200px auto;
    padding-top: 0px;
    padding-left: 25px;
}

#contact_title {
    margin-top: 100px;
    margin-bottom: -150px;
}

#contact form {
    margin: 35px 30px;
    padding-top: 25px;
}

#contact form.disabled {
    pointer-events: none;
    opacity: 0.7;
}

form .dbl-field {
    display: flex;
    margin-bottom: 25px;
    justify-content: space-between;
}

.dbl-field .field {
    height: 50px;
    display: flex;
    position: relative;
    width: calc(100% / 2 - 13px);
}

#contact form i {
    position: absolute;
    top: 50%;
    left: 18px;
    color: #ccc;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
}

#contact form .message i {
    position: absolute;
    top: 20%;
    left: 18px;
}

form .field input,
form .message textarea {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 18px 0 48px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #363062;
    background-color: #fff;
}

.field input::placeholder,
.message textarea::placeholder {
    color: #ccc;
}

.field input:focus,
.message textarea:focus {
    padding-left: 47px;
    border: 2px solid #363062;
    background-color: #fff;
}

.field input:focus ~ i,
.message textarea:focus ~ i {
    color: #363062;
}

form .message {
    position: relative;
}

form .message i {
    top: 30px;
    font-size: 20px;
}

form .message textarea {
    min-height: 130px;
    max-height: 230px;
    max-width: 100%;
    min-width: 100%;
    padding: 15px 20px 0 48px;
    background-color: #fff; /* Set the background color for textarea */
}

form .message textarea::-webkit-scrollbar {
    width: 0px;
}

.message textarea:focus {
    padding-top: 14px;
}

form .button-area {
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.button-area button {
    color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    padding: 13px 25px;
    background: #363062;
    transition: background 0.3s ease;
}

.button-area button:hover {
    background-color: #363062d8;
}

.button-area span {
    font-size: 17px;
    margin-left: 30px;
    display: none;
}

@media (max-width: 600px) {
    .wrapper header {
        text-align: center;
    }

    .wrapper form {
        margin: 35px 20px;
    }

    form .dbl-field {
        flex-direction: column;
        margin-bottom: 0px;
    }

    form .dbl-field .field {
        width: 100%;
        height: 45px;
        margin-bottom: 20px;
    }

    form .message textarea {
        resize: none;
    }

    form .button-area {
        margin-top: 20px;
        flex-direction: column;
    }

    .button-area button {
        width: 100%;
        padding: 11px 0;
        font-size: 16px;
    }

    .button-area span {
        margin: 20px 0 0;
        text-align: center;
    }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    font-size: 16px !important; /* Prevent font size change on autofill */
    background-color: #fff !important; /* Ensure background color is consistent */
    color: #000; /* Ensure text color is consistent */
}

.field input:hover {
    background-color: #fff; /* Ensure background color is consistent on hover */
}

.field input:focus {
    background-color: #fff; /* Ensure background color is consistent on focus */
}


/* inscrire form style */


.con{
    margin-top: 80px;
    margin-bottom: 10px;
}
.insc{
    margin-top: 115px;
    background: #eee;
}
.form-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
    padding-bottom: 60px;
    background: #eee;
}


.form-container form.inscrire_form{
    padding:20px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    background: #fff;
    text-align: center;
    width: 500px;
    font-family: 'Lexend', sans-serif;
}

.form-container form.inscrire_form h2{
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-top: 10px;
    font-family: 'Lexend', sans-serif;
    color: #444;
 }
 
 .form-container form.inscrire_form input,
 .form-container form.inscrire_form select{
    width: 100%;
    padding:10px 15px;
    font-size: 1rem;
    margin:8px 0;
    background: #eee;
    border-radius: 5px;
 }

 
 .form-container form.inscrire_form .form-btn{
    background: #363062;
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
 }
 
 .form-container form.inscrire_form .form-btn:hover{
    background: #363062db;
    color:#fff;
 }
 
 .form-container form.inscrire_form p{
    margin-top: 10px;
    font-size: 1rem;
    color: #444;
 }
 
 .form-container form.inscrire_form p a{
    color: #bba460;
 }
 
 .form-container form.inscrire_form .error-msg{
    margin:10px 0;
    display: block;
    background: #cc0000;
    color:#fff;
    border-radius: 5px;
    font-size: 1.2rem;
    padding:10px;
    font-family: 'Lexend', sans-serif;
 }

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #eee inset;
    -webkit-text-fill-color: #444;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 1000px #eee inset; 
    -webkit-text-fill-color: #444; 
    transition: background-color 5000s ease-in-out 0s;
    font-size: 1.5rem;
}



 /* espace etudiant style  */

.dashboard {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background: #363062;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1; 
}

.logout {
    margin-top: auto; 
}

.sidebar-menu a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.quit-button {
    background: #cfb463;
    padding: 10px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.quit-button i {
    margin-right: 10px;
}

.content {
    flex-grow: 1;
    padding: 20px;
    margin-top: 20px;
}

.header {
    background: #363062;
    padding: 20px;
    margin-top: -15px;
    padding-left: 35px;
    padding-bottom: 30px;
    border-radius: 5px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.header h3 {
    color: white;
    font-family: 'Lexend', sans-serif;
    font-size: 3rem;
    display: flex;
    align-items: center;
}

.header h3 span {
    font-size: 2.8rem;
    color: #d4b968;
    padding-top: 8px;
}

#username {
    margin-left: 10px;
}

.header p {
    color: #e5e5e5d5;
    font-size: 0.9rem;
    font-family: 'Lexend', sans-serif;
}

.filters {
    display: flex;
    gap: 30px;
    margin-bottom: 40px; 
    justify-content: center;
    align-items: center;
    font-family: 'Lexend', sans-serif;
    font-size: 1rem;
}

.filter-group {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-group label {
    margin-right: 10px; 
    color: #444;
}

select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #888888; 
    background: white;
    width: 150px;
    color: #444;
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    background-color: white; 
    cursor: pointer; 
}



select:hover, select:focus {
    border-color: #bba460; 
}

select option {
    background-color: white; 
    color: #444;
}


#notesTable {
    width: 100%;
    border-collapse: collapse;
    color: white;
}

#notesTable th, #notesTable td {
    border: 1px solid grey;
    padding: 8px;
}

#notesTable th {
    background-color: #363062;
    text-align: center; 
}










/* Amin page style  */
.custom-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    background: #363062;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  }
  
  .custom-nav .header-logo {
    display: flex;
    align-items: center;
    margin: 0 24px;
  }
  
  .header-logo .menu-icon {
    color: white;
    font-size: 24px;
    margin-right: 14px;
    cursor: pointer;
  }
  
  .header-logo .logo-name {
    color: white;
    font-family: 'Lexend', sans-serif;
    font-size: 22px;
    font-weight: 500;
  }
  
  .custom-nav .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 260px;
    padding: 20px 0;
    background-color: #363062;
    color: white;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
  }
  
  .custom-nav.open .sidebar {
    left: 0;
  }
  
  .sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 16px;
  }
  
  .sidebar-content .list {
    list-style: none;
  }
  
  .lists .nav-link {
    display: flex;
    align-items: center;
    font-family: 'Lexend', sans-serif;
    margin: 8px 0;
    padding: 14px 12px;
    border-radius: 8px;
    text-decoration: none;
  }
  
  .lists .nav-link:hover {
    background-color: white;
  }
  
  .nav-link .icon {
    margin-right: 14px;
    font-size: 20px;
    color: white;
  }
  
  .nav-link .link {
    font-size: 16px;
    color: white;
    font-weight: 400;
  }
  
  .lists .nav-link:hover .icon,
  .lists .nav-link:hover .link {
    color: #363062;
  }
  
  .custom-overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .custom-nav.open ~ .custom-overlay {
    opacity: 1;
    left: 260px;
    pointer-events: auto;
  }
  

  .lists .nav-link:hover,
.lists .nav-link.active {
  background-color: white;
}

.lists .nav-link:hover .icon,
.lists .nav-link.active .icon {
  color: #363062; /* Change the color as needed */
}

.lists .nav-link:hover .link,
.lists .nav-link.active .link {
  color: #363062; /* Change the color as needed */
}






/* etudiants  table in the admin style*/

#etudiants {
    padding: 20px;
    font-family: Arial, sans-serif;
}

#etudiants h2 {
    text-align: center;
    color: #363062;
    margin-bottom: 20px;
}

.btn-etd-ajouter {
    display: inline-block;
    margin-left: 1045px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #444;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-etd-ajouter:hover {
    background-color: #444444d4;
}

.table-etd {
    width: 100%;
    border-collapse: collapse;
}

.table-etd thead tr {
    background-color: #f2f2f2;
}

.table-etd th, .table-etd td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

.table-etd tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-etd tbody tr:hover {
    background-color: #f1f1f1;
}

.btn-etd-mod, .btn-etd-sup {
    display: inline-block;
    margin-right: 2px;
    padding: 4px 8px;
    text-decoration: none;
    border-radius: 3px;
    transition: background-color 0.3s ease;
}

.btn-etd-mod {
    background-color: #363062;
    color: white;
}

.btn-etd-mod:hover {
    background-color: #403974;
}

.btn-etd-sup {
    background-color: #cc0000;
    color: white;
}

.btn-etd-sup:hover {
    background-color: #cc0000cc;
}


/* Form Container */
.etd-container {
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Roboto', sans-serif;
}

.etd-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Form Rows */
.row-etd {
    margin-bottom: 15px;
}

.col-etd-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.col-etd-2 {
    width: 100%;
}

.col-etd-value {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}





/* Ajouter etudiant part style */


body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden; 
}


.etd-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    padding: 20px;
    box-sizing: border-box;
}

form {
    width: 100%;
    max-width: 600px;
    padding-top: 80px;
}


.row-etd {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.row-etd .rad{
    margin-left: 20px;
    color: #444;
}



.col-etd-label {
    width: 20%;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
    color: #444;
}


.col-etd-2 {
    width: 70%;
}


.col-etd-value {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.btn-etd-ajout {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
}


.btn-etd-submit1, .btn-etd-cancel {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    background-color: #363062;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin: 0 1px; 
}

.btn-etd-submit1{
    margin-right: -170px;
}

.btn-etd-cancel {
    background-color: #cc0000;
    margin-left: -170px;
}

.alert {
    position: fixed;
    top: 70px; 
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    z-index: 1000;
    padding: 15px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert-warning {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.btn-close {
    background: none;
    border: none;
    font-size: 20px;
    line-height: 1;
    cursor: pointer;
    color: inherit;
}

.btn-etd-submit1:hover, .btn-etd-cancel:hover {
    background-color: #363062ea;
}

.btn-etd-cancel:hover {
    background-color: #e11010;
}





/* Actualité Admin Section */
#actui_admin {
    padding: 20px;
    font-family: Arial, sans-serif;
    margin-bottom: 50px;
}

#actui_admin h2 {
    text-align: center;
    color: #363062;
    margin-bottom: 20px;
}


#actui_admin form {
    max-width: 600px;
    margin: 0 auto 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#actui_admin form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #444;
}

#actui_admin form input[type="text"],
#actui_admin form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#actui_admin form button {
    padding: 10px 20px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#actui_admin form button:hover {
    background-color: #333;
}


#actui_admin table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#actui_admin thead tr {
    background-color: #f2f2f2;
}

#actui_admin th, #actui_admin td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: left;
}

#actui_admin tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

#actui_admin tbody tr:hover {
    background-color: #f1f1f1;
}

#actui_admin td img {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}


#actui_admin td a {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #363062;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#actui_admin td a:hover {
    background-color: #403974;
}











/* cours style */

.chapitres {
    display: none;
}


#cours-dsi1 {
    max-width: 1900px;
    margin: 0 auto;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-bottom: 20px;
    font-family: 'lexend', sans-serif;
    font-size: 15px;
}

#cours-dsi2{
    max-width: 1900px;
    margin: 0 auto;
    padding: 25px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-bottom: 300px;
    font-family: 'lexend', sans-serif;
    font-size: 15px;
}

#cours-sri2{
    margin-bottom: 300px;
}

.box h2 {
    font-size: 24px;
    margin-top: 100px;
    color: #363062;
    text-align: center;
    font-size: 1.8rem;
}

.box h2 .cours2{
    font-size: 24px;
    margin-top: 80px;
    color: #363062;
    text-align: center;
    font-size: 1.8rem;
}



.cours2-container {
    overflow: hidden;
    margin-top: 50px;
    width: 90%;
    margin-left: 60px;
    margin-bottom: 280px;
}

.cours-container {
    overflow: hidden;
    margin-top: 50px;
    width: 90%;
    margin-left: 60px;

}

.cour-container {
    border-radius: 5px;
    border-bottom: 1px solid rgb(180, 180, 180);
    margin: 5px;
}

.cour {
    background-color: rgb(245, 245, 245);
    color: #363062;
    padding: 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chapitres {
    padding: 10px;
    display: none;
    padding-left: 5px;
    color: #444;
}

.cour p {
    font-size: 17px;
}

.cour span {
    color: #444;
}

.question-button {
    background: none;
    border: none;
    cursor: pointer;
}

.show-answer {
    display: none;
}

.hide-answer {
    display: inline-block;
}

.active .show-answer {
    display: inline-block;
}

.active .hide-answer {
    display: none;
}

.active .chapitres {
    display: block;
}
